@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@import 'tailwindcss';

@theme {
  --color-tortik-orange: #e8472b;
  --color-tortik-yellow: #fdcf01;
  --color-tortik-white: #fcfcfc;
}
@font-face {
  font-family: 'ComicSansMSPixel';
  src: url('/assets/fonts/ComicSansMSPixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BitCell';
  src: url('/assets/fonts/BitCell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hardpixel';
  src: url('/assets/fonts/Hardpixel.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EpilepsySans';
  src: url('/assets/fonts/EpilepsySans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EpilepsySansBold';
  src: url('/assets/fonts/EpilepsySansBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Hardpixel';
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fcfcfc;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}

@keyframes waterFlow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 10px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.animate-water {
  animation: waterFlow 3s ease-in-out infinite;
}

.pixel-border--dt {
  border-width: calc(1.171875vw);
  border-style: solid;
  background-image: url('/assets/borders/default-background.png');
  background-repeat: repeat;
  background-size: calc(8 * 1.171875vw);
  border-radius: calc(3 * 1.171875vw);
  border-image-source: url('/assets/borders/default-border.png');
  border-image-slice: 3;
  border-image-width: 1;
  border-image-repeat: stretch;
  image-rendering: pixelated;
}

.pixel-border--lt {
  border-width: calc(1.171875vw);
  border-style: solid;
  background-image: url('/assets/borders/light-background.png');
  background-repeat: repeat;
  background-size: calc(8 * 1.171875vw);
  border-radius: calc(3 * 1.171875vw);
  border-image-source: url('/assets/borders/light-border.png');
  border-image-slice: 3;
  border-image-width: 1;
  border-image-repeat: stretch;
  image-rendering: pixelated;
}

.pixel-border--gr {
  border-width: calc(1.171875vw);
  border-style: solid;
  background-color: #798089;
  border-radius: calc(3 * 1.171875vw);
  border-image-source: url('/assets/borders/gray-border.png');
  border-image-slice: 3;
  border-image-width: 1;
  border-image-repeat: stretch;
  image-rendering: pixelated;
}

.pixel-border--w {
  border-width: calc(1.171875vw);
  border-style: solid;
  background-color: #dce5f3;
  border-radius: calc(3 * 1.171875vw);
  border-image-source: url('/assets/borders/white-border.png');
  border-image-slice: 3;
  border-image-width: 1;
  border-image-repeat: stretch;
  image-rendering: pixelated;
}

.pixel-shadow {
  text-shadow:
    -1px -1px #e8b098,
    0 -1px #e8b098,
    1px -1px #e8b098,
    -1px 0 #e8b098,
    1px 0 #e8b098,
    -1px 1px #e8b098,
    0 1px #e8b098,
    1px 1px #e8b098;
}
